include src\*.h
include src\*.cpp
include tests\*
include *.txt
prune setup.cfg

include web\*
prune web\*.cmd

# For some reason, I keep getting setup.PY.  Probably
# because I use PATHEXT on Windows.
prune setup.PY
include setup.py

# Include this file, needed for bdist_rpm
include MANIFEST.in
