# https://pip.pypa.io/en/stable/reference/requirements-file-format/
# https://peps.python.org/pep-0508/
# https://peps.python.org/pep-0440/

pytest ~= 7.3

# I'm going to try leaving the versions off since we're supporting drastically different Python
# versions.  I want the most up to date I can get in each, at least until one of them makes a
# backwards incompatible change.
flake8
pylint
